crewai
langchain
langchain-community
langchain-google-genai
chromadb
fastapi
uvicorn
streamlit
ragas
pandas
python-dotenv
pypdf
playwright
beautifulsoup4
PyMuPDF
aiohttp
aiofiles
langchain-huggingface
sentence-transformers
